body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3, h5 {
  display: inline;
}

/* form section */
label {
  text-align: left;
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background: #2eaa70;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

/* Project previews */
.project-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #eee; 
}

/* .project-preview:last-child {
  border-bottom: none;
} */

.project-preview h3, h5 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #f1356d;
}

